@use 'tools.scss';

html {
  font-family: 'Atkinson', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.3;
}

body {
  @include tools.grid-background;
  color: white;
  margin: 2rem;

  &::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    background: linear-gradient(transparent 25%, var(--purple-1) 50%);
    background-size: 100% 200%;
    animation: fade-in-grid 0.8s linear forwards;

    @keyframes fade-in-grid {
      from {
        background-position-y: 100%;
      }
      to {
        background-position-y: 0%;
      }
    }
  }
}

main {
  max-width: var(--content-max-width);
  margin: auto;
}

a, a:visited, button {
  transition-property: background-position-x, color, opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  background: linear-gradient(
      80deg,
      var(--starting-color, var(--purple-1)) 33%,
      var(--primary),
      var(--secondary)
  );
  background-size: 300% 100%;
  background-position-x: 0;

  &:hover {
      background-position-x: 100%;
      color: var(--purple-1);
      text-decoration: none;
  }
}

a, a:visited {
  color: var(--primary);
  padding: 2px;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

details {
  border: 1px solid var(--purple-3);
  padding: 0.5rem 1rem;
  background: var(--purple-2);
  margin-bottom: 0.5rem;
  box-shadow: 0 6px 20px 10px var(--purple-1);
  border-radius: 0.5rem;
}