.logo__container {
  display: grid;
  justify-items: center;
  justify-content: center;
  margin-top: 100px;
  
  .logo {
    overflow: visible;

    path {
      animation-duration: 0.6s;
      animation-fill-mode: forwards;
      transform-origin: 130% 65%;
    }
  
    @for $i from 1 through 7 {
      &.right > path:nth-child(#{$i}) {
        animation-name: slinky-right-#{$i};
        @keyframes slinky-right-#{$i} {
          0% {
            transform: rotate(0);
          }
          50% {
            transform: rotate(($i - 1) * 27.5deg);
          }
          100% {
            transform: rotate(165deg);
          }
        }
      }
      &.left > path:nth-child(#{$i}) {
        animation-name: slinky-left-#{$i};
        @keyframes slinky-left-#{$i} {
          0% {
            transform: rotate(165deg);
          }
          50% {
            transform: rotate((7 - $i) * 27.5deg);
          }
          100% {
            transform: rotate(0);
          }
        }
      }
    }
  }
}